.ThemeSwitcher {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }
  
  .Light {
    color: var(--color-gray-light-5);
  }
  .Dark {
    color: var(--color-gray-light-2);
  }
  