@import "../../component/abstract/mixins";

.SearchAndTheme {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 1.6rem;

  @include responde(small) {
    margin-top: 2rem;
  }
}

.FilterButton {
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--color-gray-light-3);
}

.Heading {
  margin-top: 2.4rem;
  color: #fff;

  span {
    font-size: 12px;
    color: var(--color-gray-light-5);
    font-weight: normal;
  }
}

.MonthContainer {
  width: 100%;
  display: grid;
  margin-top: 2.4rem;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 0.4rem;
  justify-items: start;
  padding: 1rem 1.6rem;
  font-size: 20px;
  border: none;
  background-color: #32b2dd;
  color: var(--color-gray-light-1);
  cursor: pointer;
  font-weight: bolder;
  margin: 30px 0 15px 0;
}

.CalendarOptionContainer {
  display: flex;
  width: 100%;
  align-items: flex-start;
  margin-bottom: 15px;

  :nth-child(2) {
    width: 100%;
  }
}

.DateAsider {
  width: 50px;
  font-size: 15px;
  color: var(--color-gray-light-1);
  display: flex;
  flex-direction: column;
  gap: 5px 0;
  font-weight: bold;
}

.TabMenuRow {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
.Light {
  .MonthContainer {
    background-color: #4f77f7;
  }

  .DateAsider {
    color: var(--color-gray-light-8);
  }

  .Heading {
    color: var(--color-gray-light-8);
  }

  .FilterButton {
    color: var(--color-gray-light-6);
  }
}
