@import "../../component/abstract/mixins";

.BackButton {
  color: #fff;
  margin-bottom: 2.4rem;
  border: none;
  display: flex;
  align-items: center;
  margin-top: 5px;
  outline: none;
  background-color: transparent;

  @include responde(small) {
    margin-top: 2rem;
  }

  svg {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 2px;
    transform: rotate(180deg);
  }
}
.Project{
  background-color: #191c24;
  padding: 6px;

}
.ProjectHeader {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 1rem;

  .HeaderDetails {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    h3 {
      color: #fff;

      text-transform: capitalize;
      font-size: 1.6rem;
      font-weight: 600;
      margin-bottom: 0.3rem;
    }
    .HeaderStatus {
      display: flex;
      align-items: center;
      color: var(--color-gray-light-4);
      span {
        svg {
          margin-right: 0.3rem;
        }
      }
    }
  }
  .Bookmark {
    background-color: transparent;
    border: none;
    outline: none;
    color: red;
  }
}

.ProjectImage {
  margin: 10px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  img {
    border-radius: 0.8rem;
    width: 50%;
    // height: 25rem;
    object-fit: cover;
    object-position: center;
  }
}

.ProjectDetails {
  text-align: center;
  flex-wrap: wrap;
  margin-top: 2rem;
  margin-bottom: 2.4rem;
  line-height: 150%;
  color: var(--color-gray-light-2);
}

.Attributes {
  color: #fff;
  padding: 1.6rem;
  border: 1px solid var(--color-gray-light-6);
  border-radius: 0.8rem;

  .AttributesHeading {
    margin-bottom: 0.6rem;
    font-weight: 700;
  }
}

.Light {
  .BackButton,
  .HeaderDetails h5,
  .ProjectDetails {
    color: var(--color-gray-light-8);
  }

  .HeaderDetails {
    .HeaderStatus {
      color: var(--color-gray-light-5);
    }
  }
}
